//lighten($color, 10%); /* returns a color 10% lighter than $color */
//darken($color, 10%);  /* returns a color 10% darker than $color */
 
//saturate($color, 10%);   /* returns a color 10% more saturated than $color */
//desaturate($color, 10%); /* returns a color 10% less saturated than $color */
 
//grayscale($color);  /* returns grayscale of $color */
//complement($color); /* returns complement color of $color */
//invert($color);     /* returns inverted color of $color */
 
//mix($color1, $color2, 50%); /* mix $color1 with $color2 with a weight of 50% */

$color: #0982C1;
 
h1 {
  background: $color;
  border: 3px solid darken($color, 50%);
}