//lighten(color, 10%); /* returns a color 10% lighter than 'color' */
//darken(color, 10%);  /* returns a color 10% darker than 'color' */
 
//saturate(color, 10%);   /* returns a color 10% more saturated than 'color' */
//desaturate(color, 10%); /* returns a color 10% less saturated than 'color' */

color = #0982C1
 
h1
  background color
  border 3px solid darken(color, 50%)