/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content {
    width: 1200px;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

.title {
    font-size: 30px;
    padding: 10px 0 25px;
}

/*============================ - TOP BLOCK - =================================*/
header {
    text-align: center;
    padding: 20px 0;
    background: rgba(250, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.78);
}

.header-menu__item {
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.header-menu__item:hover {
    background: rgba(255, 255, 255, 0.36);
}

.top-block {
    height: 95vh;
    background: url('../img/bg-2.jpg') #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-title-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-content;: center
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

h1.main-title {
    color: #fff;
    font-size: 105px;
    font-family: Arial, SANS-SERIF;
    text-align: center;
    display: block;
    width: 100%;
    text-shadow: 0px 0px 17px #494747;
    margin-top: 80px;
}

h2.main-subtitle {
    width: 100%;
    display: block;
    color: #fff;
    font-size: 72px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 0px 0px 17px #494747;
}
/*============================ - TOP BLOCK END- =================================*/

/*============================ - DANCE TYPES - =================================*/
.dance-types {
    background: url('../img/bl-tecsture-2.jpg');
    min-height: 340px;
    color: #fff;
    background-size: 25%;
    padding: 40px 30px;
    text-align: center;
}

li.types-list__item {
    width: 20%;
    float: left;
    margin: 25px 0 20px;
}

.types-list.second-line .types-list__item {
    width: 50%;
}


.types-list__item span {
    width: 100%;
    display: block;
    margin: 10px 0 0;
    font-size: 20px
}

.types-list__item__icon:hover {
    opacity: 1;
    filter: none;
    filter: gray;
    -webkit-filter: grayscale(0%);
    width: 170px;
    height: 170px;
    margin-bottom: 0;
}

.types-list__item__icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    /*filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter i…0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
    */filter: gray;
    margin-bottom: 20px;
    -webkit-filter: grayscale(100%);
}
/*============================ - DANCE TYPES END- =================================*/
/*================== - ABOUT US - =============================*/
section.about-us {
    background: rgb(12, 12, 12);
    text-align: center;
    color: #fff;
    position: relative;
}

ul.about-us__list {
    position: absolute;
    top: 0;
}

.about-us img {
    height: 700px;
}

li.about-us__list__item:nth-child(1) {
    top: 125px;
    margin-left: 270px;
}

li.about-us__list__item {
    position: absolute;
    font-size: 18px;
    width: 150px;
    border: 1px dotted rgba(184, 174, 174, 0.44);
    padding: 10px;
    border-radius: 15px;
}

li.about-us__list__item:nth-child(2) {
    top: 315px;
    margin-left: 50px;
}

li.about-us__list__item:nth-child(3) {
    top: 525px;
    margin-left: 200px;
}

li.about-us__list__item:nth-child(4) {
    top: 125px;
    margin-left: 775px;
}

li.about-us__list__item:nth-child(5) {
    top: 325px;
    margin-left: 925px;
}

li.about-us__list__item:nth-child(6) {
    top: 520px;
    margin-left: 805px;
}
/*================== - ABOUT US END - =========================*/
/*============================ - PICTURE- =================================*/
section.picture-block {
    height: 420px;
    overflow: hidden;
}

.picture-block-items {
    width: 25%;
    max-height: 210px;
    float: left;
}

/*============================ - PICTURE END- =================================*/
/*============================ - TEACHERS- =================================*/
.teachers-list-wrapper {
    background: url('../img/bl-tecsture-2.jpg');
    min-height: 340px;
    color: #fff;
    background-size: 25%;
    padding: 40px 30px;
    text-align: center;
}
.teachers-list__item {
    width:  25%;
    float: left;    
    margin-top: 115px;
    color: #ccc;
    transition: .6;
}
.teachers-list__item:hover {
    color: #fff;
    cursor: pointer;
}
/*============================ - TEACHERS END- =================================*/
