/*fonts*/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}


	body{font-family: "Open Sans", Arial, Helvetica, sans-serif; color: #333;}



/*default*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.right-block {float: right;}
.left-block {float: left;}
/*common styles*/
	.content-center {position: relative; margin: 0 auto; width: 100%; max-width: 960px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
	h1 {padding: 0; font-size: 36px; font-weight: bold; color: #ffd800;}
	h2 {font-size: 24px; color: #fff; font-weight: 600;}
	h3 {}
	h4 {}
	h5 {font-size: 19px; font-weight: bold;color: #333;}
	h6 {font-size: 17px; line-height: 27px;color: #333;}
	p {font-size: 16px; line-height: 20px; color: #000;}
		p._min {font-size: 13px;}
	a {text-decoration: none; color: #000;}
		a:visited, a:focus, a:active {text-decoration: none; color: #000;}
		a:hover {text-decoration: none; color: #3399cc;}


/*header styles*/
.page-header {padding: 25px 0 12px; position: relative; width: 100%; text-align: center;}
	.header-block {display: inline-block; vertical-align: middle;}
	.logo {float: left;}
	.navigation-layer {padding: 11px 0 0 4%;}
	.language-block {padding: 13px 0 0; float: right; font-size: 15px; color: #ccc;}
		.language-block a {color: #000; font-weight: 600;}
		.language-block a:hover {color: #6699cc;}
		.language-block a._active {color: #6699cc;}
        .language-block span {padding: 0 0 0 5px; display: inline-block;}
	.menu {}
	.menu-wrapper {display: inline-block; vertical-align: middle;}
		.menu .menu-item {padding: 0; display: inline-block; vertical-align: top;}
			.menu-item a {padding: 0 11px; font-size: 10px; line-height: 10px; color: #000; border-right: 1px solid #ccc; text-transform: uppercase; opacity: 1;
                -webkit-transition: all .2s;
				-moz-transition: all .2s;
				-ms-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;}
			.menu-item:last-child a{border-right: 0;}
				.menu-item a:hover {color: #3399cc;}
				.menu-item a._active {color: #3399cc;}
	.social-block { padding: 5px 0 0 40px; display: inline-block; vertical-align: middle;}
		.social-item, .mobile-menu-wrapper .social-item {display: inline-block;  vertical-align: top; height: 13px; width: 13px; margin: 0 0 0 9px; padding: 0 3px; background: url("../img/social.png") 0 0 no-repeat;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;}
			.social-item._fb, .mobile-menu-wrapper .social-item._fb {width: 5px; margin: 0;}
			.social-item._tw, .mobile-menu-wrapper .social-item._tw {background-position: -29px 0;}
			.social-item._vk, .mobile-menu-wrapper .social-item._vk {margin: 0 0 0 5px; background-position: 100% 0;}
			.social-item:hover {opacity: .7;}
			.menu-item.social-block {padding: 15px 0 0;}


/*mobile menu styles*/
	.mobile-menu-wrapper .menu .menu-item {display: block;}
	.mobile-menu-wrapper.sidr ul li a, .mobile-menu-wrapper.sidr ul li span {padding: 15px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight: 600;}


/*end header styles*/

/*content styles*/
.page-section {position: relative; width: 100%;}
.top-info-section {padding: 0 0 138px; margin: 0; background: url("../img/top_bg.jpg") center no-repeat; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;}
	.menu-city-wrapper {padding: 0 0 3px; margin: 0 0 139px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
		.menu-city-item {margin: 0 11px; display: inline-block; vertical-align: top; font-size: 14px; color: #fff; text-transform: uppercase;}
        .menu-city-item:first-child {margin-left: 0;}
        .menu-city-item:last-child {padding: 4px 0 0; position: relative;}
        .menu-city-item:last-child:after {content: ''; width: 9px; height: 6px; top: 14px; right: 4px; background: url("../img/arrow_icon.png") 0 0 no-repeat; position: absolute;}
			.menu-city-item a {padding: 4px 0 0; color: #fff; display: inline-block; font-size: 14px; text-transform: uppercase; border-top: 4px solid transparent;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-ms-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;}
			.menu-city-item a:hover {color: #f4db0b; border-color: #f4db0b;}
			.menu-city-item a._active {color: #f4db0b; border-color: #f4db0b;}
	/*select2 styles */
.select2-container .select2-choice {display: block;height: auto;padding: 0;overflow: hidden;position: relative;border: 0;white-space: nowrap;line-height: 26px;color: #fff;text-decoration: none;background-color: transparent;background-image: none;border-radius: 0; box-shadow: none;}
.select2-container .select2-choice .select2-arrow {width: 0; height: 0;}
.select2-dropdown-open .select2-choice {border-bottom-color: transparent;-webkit-box-shadow: none;box-shadow: none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;background-color: transparent;background-image: none;}
	/*end select2 styles */
.info-block {padding: 0; width: 100%; max-width: 410px;}
	.info-block h1 {margin: 19px 0 14px; white-space: nowrap;}
	.info-block .select2-container .select2-choice .select2-arrow {display: none;}
		.info-block h1 span{color: #ffd800; position: relative; display: inline-block; }
		.info-block h1 span:after{content: ''; border-bottom: 3px dotted #ffd800; position: absolute; bottom: -5px; left: 0;height: 1px;width: 85%;}
	.info-block p {font-size: 24px; color: #ffd800;}
	.info-block .info-caption {padding: 0 5px; font-size: 24px; display: inline-block; line-height: 35px; color: #000; background-color: #ffd800;}
	.info-block-popular {margin: 28px 0 0; padding: 19px 0 12px 25px; background: #3399cc; max-width: 352px; -webkit-border-radius: 38px; -moz-border-radius: 38px; border-radius: 38px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
		.info-block-popular p {padding: 0 0 8px; color: #fff; font-size: 14px;}
		.info-popular-phone {padding: 0 12px 0 27px; font-size: 24px; font-weight: 900; display: inline-block; vertical-align: top; position: relative;}
            .info-popular-phone:before {content: ''; width: 19px; height: 19px; position: absolute; top: 0; left: 0; background: url("../img/popular-phone-icon.png") 0 0 no-repeat;}

		
.select-section {padding: 30px 0 41px; color: #fff; font-size: 0; background: url("../img/select-bg.jpg") center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;}
	.select-section-block {font-size: 10px; color: #fff; display: inline-block; vertical-align: top;}
        .select-section-block.price {float: right;}
	.select-section h2 {color: #fff;}
	.select-section p {padding: 5px 0 3px; color: #fff; font-size: 10px;}
		.select-block {margin-right: 47px; font-size: 0; line-height: 0;}
            .select-section-block.price .select-block {margin-right: 0;}
			.select-block-item {padding: 19px 14px;color: #fff; font-weight: bold; border: 2px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; background-color: transparent; display: inline-block; vertical-align: top; font-size: 14px; text-align: center;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-ms-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;}
            .select-block-item:first-child {border-left: 2px solid #fff;}
            .select-block-item:last-child {border-right: 2px solid #fff;}
			.select-block-item:hover {cursor: pointer; color: #000; background-color: #ffd800; border-color: #ffd800;}
			.select-block-item._active {cursor: default; color: #000; background-color: #ffd800; border-color: #ffd800;}
		.type-taxi .select-block-item {width: 96px; height: 42px; background: url("../img/cars.png") 0 0 no-repeat transparent;}
		.type-taxi .select-block-item:hover, .type-taxi .select-block-item._active {background-image: url("../img/cars_active.png");  background-color: #ffd800;}
		.type-taxi .select-block-item._light {background-position: 27px 4px;}
		.type-taxi .select-block-item._medium {background-position: -66px 4px;}
		.type-taxi .select-block-item._truck {background-position: -155px 5px;}

.main-section {padding: 32px 0 0;}
	.advertising {width: 160px; height: 600px; background: #ffd800; position: absolute; top: 7px; left: 0; color: #000; text-align: center; line-height: 600px; font-weight: 600; font-size: 16px; }
	.main-list-wrapper {min-height: 600px; position: relative; padding: 0 0 0 200px;}
		.main-list {}
			.main-list-item {margin: 0 0 68px; padding: 0 0 10px; border-bottom: 1px dotted #d9ecf6;}
				.main-list-item h2 {padding: 0 0 11px; color: #3399cc; font-weight: bold;}
				.main-item-content {}
					.item-content-block {}
					.item-briefly {width: 100%; max-width: 294px;}
						.rating {}
						.services {padding: 0 0 4px 2px;}
							.service-item {margin: 0 4px 0 0; display: inline-block; vertical-align: middle;}
							.button-more, .button-show_more {width: 180px; line-height: 35px; text-align: center; background: transparent; border: 1px solid #c6c6c6; color: #b2b2b2; font-size: 14px; display: inline-block; text-transform: uppercase; font-weight: 600;
								-webkit-transition: all .2s;
								-moz-transition: all .2s;
								-ms-transition: all .2s;
								-o-transition: all .2s;
								transition: all .2s;}
							.button-more:hover, .button-show_more:hover, .button-mobile {background: #3399cc; border-color: #3399cc; color: #fff;}
						.item-reviews {margin: 9px 0 0; float: right;}
							.reviews {position: relative; display: inline-block; border-bottom: 1px dotted #3399cc; color: #3399cc; font-size: 16px;}
							.reviews-num {width: 16px; line-height: 16px; font-size: 10px; color: #000; background: #ffd800; top: -8px; right: -12px; text-align: center; position: absolute; -webkit-border-radius: 50%; border-radius: 50%;}
								.reviews:hover {border-color: transparent; color: #3399cc;}
						.item-phones {margin-right: 46px; width: 140px; display: inline-block; vertical-align: top;}
							.short-phone {margin: 0 0 6px; width: 100%;}
								.short-phone a {padding: 10px 0 7px 22px; font-weight: bold; display: block; font-size: 16px; text-align: center; width: 100%; background: url("../img/phone-icon.png") 40px 9px no-repeat transparent;
									-webkit-transition: all .2s;
									-moz-transition: all .2s;
									-ms-transition: all .2s;
									-o-transition: all .2s;
									transition: all .2s;
									-webkit-box-sizing: border-box;
									-moz-box-sizing: border-box;
									box-sizing: border-box;}
								.short-phone a:hover, .mobile-visible .short-phone a {color: #000; background: url("../img/phone-icon__h.png") 40px 9px no-repeat #ffd800; }
								.phone-number{margin: 0 0 3px; width: 100%; font-size: 15px; display: inline-block; text-align: right}
								.phone-number img {margin: 2px 0 0; float: left;}
							.item-info {float: right;}
								table {
									max-width: 100%;
									background-color: transparent;
									border-collapse: collapse;
									border-spacing: 0;
									font-family: "Open Sans", Arial, Helvetica, sans-serif;
								}
								.grid td {
									background: #f3f3f3;
									vertical-align: middle;
									text-align: left;
									border: 1px solid #fff;
									font-weight: normal;
									font-size: 14px;
									padding: 8px 22px;
								}
								.grid th {
									background: #f3f3f3;
									vertical-align: middle;
									text-align: left;
									border: 1px solid #fff;
									font-weight: normal;
									font-size: 14px;
									padding: 8px 14px;
									text-transform: uppercase;
								}
								.item-info p {padding: 8px 0 0; font-size: 12px; color: #838383;}
									.item-info p .date {color: #3399cc;}
.about-section {padding: 0 0 26px;}
	.about-section h2 {padding: 0 0 34px; color: #3399cc;}
	.about-section p {padding: 0 0 18px; line-height: 18px;}
	.about-section p:last-child {padding-top: 36px;}
/*end content styles*/

/*footer styles*/
.page-footer {background: #555;padding: 30px 0; text-align: center;}
    .page-footer .social-block {padding: 32px 0 0 7%; float: right;}
    .page-footer .logo {margin: 15px 0 0;}
    .footer-menu-wrapper {padding: 29px 0 0; display: inline-block; vertical-align: top;}
        .footer-menu-wrapper .menu-item a:hover, .footer-menu-wrapper .menu-item a._active {color: #000; opacity: .7;}
        .page-footer .menu-item a {border-color: #444;}


    /*common styles*/
.mobile-visible {display: none;}