@media (min-width: 1280px){

}
@media (max-width: 1000px){
    .content-center {padding: 0 15px;}
    .select-block {margin-right: 36px;}
    .social-block {padding: 5px 0 0 5px;}
}
@media (max-width: 960px){
    .select-block {margin-right: 10px;}
    .advertising {display: none;}
    .main-list-wrapper {padding: 0;}
    .navigation-layer {padding: 11px 0 0; }
    .menu-item a {padding: 0 7px;}
}
@media (max-width: 960px) and  (min-width: 769px){
    .select-block-item {padding: 19px 5px;}
    .select-section-block.price {float: none;}
}
@media (max-width: 769px){
	.mobile-hidden {display: none;}
	.mobile-visible {display: block;}
    .content-center {padding: 0 22px;}
    h1 {font-size: 32px;}
    h2 {}
    p {font-size: 12px;}

    .page-header {padding: 9px 0 2px;}
        .navigation-layer {padding: 0;}
            .menu-mobile {padding: 8px 0 0; float: left;}
            .logo {float: none; margin: 0 0 0 33px;}
            .logo img{width: 85px;}
            .language-block {padding: 7px 0 0; font-size: 13px;}
    .top-info-section {padding: 0 0 134px;}
        .menu-city-wrapper {margin: 0 0 135px;}
            .menu-city-item {display: none}
            .menu-city-item:first-child, .menu-city-item:last-child {display: inline-block}
        .info-block {text-align: center;}
            .info-block h1 {margin: 21px 0 11px;}
            .info-block p {font-size: 21px;}
            .info-block-popular {padding: 19px 0 12px 29px; margin: 36px 0 0;text-align: left;}
            .info-block-popular p {font-size: 14px;}
    .select-section {padding: 22px 0 29px; background: url("../img/select-bg_mobile.jpg") center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;}
        .select-section h2 {padding: 0 0 12px; font-size: 17px;}
    .select-section p {padding: 1px 0 3px;}

    .main-section {}
    .item-briefly {width: 55%;max-width: 55%;}
        .item-phones {margin: 0 0 0 60px;;}
            .phone-number {font-size: 14px;}
            .item-content-block {float: none;width: 100%;}
            .main-list-item {margin: 0 0 54px;padding: 0 0 17px;}
            .item-info {float: left;}
                .grid {margin: 16px 0;}
                    .grid th, .grid td {padding: 12px 22px; text-align: center; width: 26%; font-size: 12px; text-transform: uppercase;}
                    .grid th:last-child, .grid td:last-child {width: 39%;}
                    .grid-info-txt {float: right;}
                .button-block {text-align: center;}
                    .button-show_more {margin: -5px 0 0;width: 214px;line-height: 40px;}
    .about-section {padding: 64px 0 7px;}
        .about-section h2 {padding: 0 0 20px;}
        .about-section p {padding: 0 0 14px;line-height: 14px;}
        .about-section p:last-child {padding-top: 29px;}

    .page-footer {padding: 8px 0 0;}
        .page-footer .social-block {padding: 10px 0 0;}
        .page-footer .logo {    margin: 0 0 0 72px;}
        .footer-menu-wrapper {padding: 0;}

}
@media (max-width: 480px){
    p {font-size: 10px;}
    .top-info-section {background: url("../img/top_mobile_bg.jpg") center no-repeat; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover;}
    .item-briefly {width: 55%;max-width: 55%;}
    .item-reviews {float: left; padding: 5px 0 0;}
    .item-phones {margin: 0;}
    .phone-number {font-size: 14px;}
	.info-block h1 {white-space: normal;}
    .item-content-block {float: none;width: 100%;}
    .main-list-item {margin: 0 0 54px;padding: 0 0 17px;}
    .grid {margin: 16px 0;}
    .grid th, .grid td {padding: 12px 22px; text-align: center; width: 26%; font-size: 10px; text-transform: uppercase;}
    .grid th:last-child, .grid td:last-child {width: 39%;}
    .grid-info-txt {float: right;}
}
@media (max-width: 400px){
    .info-block-popular p {font-size: 12px;}
    .info-popular-phone {padding: 0 2px 0 23px; font-size: 19px;}
    .info-block-popular {padding: 19px 0 12px 12px;}
    .select-block-item {padding: 19px 5px;}
    .type-taxi .select-block {margin: 0;white-space: nowrap;}
        .type-taxi .select-block-item {width: 90px;}
    .item-phones {width: 100px;}
        .short-phone a {padding: 10px 0 7px 30px;}
    .mobile-visible .short-phone a {background: url("../img/phone-icon__h.png") 24px 9px no-repeat #ffd800;}
    .phone-number {font-size: 10px;}
    .button-more {width: 134px;}
}